.video {
    background-color: $primary-color;
    min-height: 957px;
    padding: 60px 0 118px;
    position: relative;
    z-index: 1;
    // .video__title

    &__title {
        color: $white-color;
        text-align: center;
        margin-bottom: 85px;
    }
}
.video-bg {
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.video-popup {
    background-color: #000;
    min-height: 646px;
    display: flex;
    align-items: center;
    justify-content: center;

    // .video-popup__play

    &__play {
        cursor: pointer;
        width: 137px;
        height: 137px;
        transition: all .2s;
    }

    &__play:hover path {
        fill: $primary-color;
    }

    &__play:hover {
        box-shadow: 0 0 10px $pink-color;
        border-radius: 50%;
    }
    &__play:active {
        box-shadow: 0 0 25px $pink-color;
        border-radius: 50%;
    }
}